<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Equipment Booking</title>
    <!-- Google Fonts -->
    <link href="//fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <!-- Header -->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <!-- Navigation Bar -->
            <nav class="navbar navbar-expand-lg navbar-light stroke">
                <h1><a class="navbar-brand" href="/index">
                        KISAN<span class="sub-color"> YOGDAN</span>
                    </a></h1>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav mx-lg-auto my-2 my-lg-0 navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                    </ul>
                    <form action="#" method="GET" class="d-flex search-header">
                        <input class="form-control me-2" type="search" placeholder="Search here..." aria-label="Search" required>
                        <button class="btn btn-style btn-secondary me-lg-3" type="submit">Search</button>
                    </form>
                </div>
            </nav>
            <!-- //Navigation Bar -->
        </div>
    </header>
    <!-- //Header -->

    <!-- Banner Section -->
    <section class="banner-19">
        <div class="banner-layer">
            <div class="main-content-top">
                <div class="container">
                    <div class="main-content">
                        <div class="Abanner-left">
                            <h6>Welcome to Equipment Booking Platform</h6>
                            <h4>Find the Right Equipment for Your Needs</h4>
                            <a href="#faq" class="btn btn-style btn-secondary mt-md-5 mt-4">Read More</a>
                        </div>
                        <div class="Abanner-right">
                            <p>Search for available equipment, make bookings, and manage your farming activities efficiently.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //Banner Section -->

    <!-- Equipment Search Section -->
    <section class="A-about-6 py-5" id="search">
        <div class="container py-lg-5 py-md-3">
            <div class="row align-items-center">
                <div class="col-lg-6 pe-lg-5">
                    <h6 class="title-subw3hny">Find Equipment</h6>
                    <h3 class="title-A">Search for Available Equipment</h3>
                    <p class="mt-md-4 mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <form action="#" method="GET" class="mt-4">
                        <div class="form-group">
                            <input type="text" class="form-control" id="equipmentName" placeholder="Enter Equipment Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="location" placeholder="Enter Location">
                        </div>
                        <button type="submit" class="btn btn-primary">Search Equipment</button>
                    </form>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5">
                    <img src="about img.png" alt="Equipment Search" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <!-- //Equipment Search Section -->

    <!-- Footer -->
                <!-- Footer Content -->
                <footer class="A-footer-29-main">
                  <div class="footer-29-A py-5">
                      <div class="container pt-md-5">
                          <div class="A-footer-text-style">
                              <div class="footer-list-cont d-sm-flex align-items-center justify-content-between mb-5">
                                  <h2 class="Aogo"><a class="navbar-brand" href="/index">
                                          KISAN<span class="sub-color"> YOGDAN</span>
                                      </a></h2>
                                      <div class="main-social-footer-29">
                                        <ul>
                                            <li class="w3follow mt-sm-0 mt-4">Follows On : </li>
                                            <li>
                                                <a href="#facebook" class="facebook">
                                                    <img src="fbicon.png" alt="Facebook">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#twitter" class="twitter">
                                                    <img src="twicon.png" alt="Twitter">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#instagram" class="instagram">
                                                    <img src="insticon.png" alt="Instagram">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#linkedin" class="linkedin">
                                                    <img src="linkicon.png" alt="LinkedIn">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>          
                              </div>
                          </div>
                          <div class="row footer-top-29 pt-lg-5 pt-sm-4">
                              <div class="col-lg-3 col-sm-6">
                                  <div class="address-grid">
                                      <h5>Bhopal ,MIG 76 B Sonagiri, Near Kuber Diary (Piplani), M.P<br> INDIA.</h5>
                                      <p class="mt-4">Browse our selection of equipment and book the perfect tools for your agricultural needs. </p>
                                  </div>
                              </div>
                              <div class="col-lg-3 col-sm-6 mt-sm-0 mt-4 ps-lg-5">
                                  <div class="address-grid">
                                      <h5>Phone</h5>
                                      <h5 class="phone-number-text mt-2"><a href="tel:+1(21) 112 7368">+91 7398634683</a></h5>
                                  </div>
                                  <div class="address-grid mt-sm-5 mt-4">
                                      <h5>E-mail</h5>
                                      <h5 class="email-cont-text mt-1"> <a href="mailto:photogenic@mail.com" class="mail">Bookingequipment@mail.com</a></h5>
                                  </div>
                              </div>
                              <div class="col-lg-2 col-md-6 col-sm-5 footer-list-menu ps-lg-5 mt-lg-0 mt-sm-5 mt-4">
                                  <div class="address-grid">
                                      <h5 class="mb-4 pb-lg-2">Support</h5>
                                      <ul>
                                          <li><a href="#privacy">Privacy Policy</a></li>
                                          <li><a href="#terms"> Terms of Service</a></li>
                                          <li><a href="#faq">faQ</a></li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="address-grid col-lg-4 col-md-6 col-sm-7 ps-lg-5 mt-lg-0 mt-sm-5 mt-4 A-footer-16-main">
                                  <h5>Subscribe here</h5>
                                  <form action="#" class="subscribe d-flex mt-4 pt-lg-2 mb-4" method="post">
                                      <input type="email" name="email" placeholder="Email Address" required="">
                                      <button><span class="fa fa-paper-plane" aria-hidden="true"></span>Click</button>
                                  </form>
                                  <p>Subscribe to our mailing list and get updates to your email inbox.</p>
                              </div>
                          </div>
                          <!-- copyright -->
                          <div class="A-copyright text-center mt-lg-5 mt-sm-4 pt-md-4 pt-3">
                              <p class="copy-footer-29">© 2024 Agricultural Booking Equipments.
                                      Aayouts</a></p>
                          </div>
                          <div class="A-copyright text-center mt-lg-5 mt-sm-4 pt-md-4 pt-3"><p class="copy-footer-29">Designed By AMRENDRA PRATAP SINGH</p></div>
                      </div>
                  </div>
              </footer>
              
            </div>
        </div>
    </footer>
    <!-- //Footer -->
    <!-- JavaScript -->
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shCk+5B/Qo1rXowXjI2ycE+3X4j2rmiMz+e0B" crossorigin="anonymous"></script>
    <!-- Custom JS -->
    <script src="js/custom.js"></script>
</body>
</html>
